/* Floating box overlay */
#floatingBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    z-index: 1000;
    /* Ensure it is above other content */
}

/* Box content styling */
#floatingBox .box-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#floatingBox .box-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#floatingBox .box-content .btn {
    margin: 0 10px;
}

* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: white;
    color: black;
}

.btn-custom {
    font-size: 1.2rem;
    /* To match the size with the lead text */
    border: 2px solid black;
    /* Black border */
    color: black;
    /* Black text */
    background-color: white;
    /* White background */
    transition: all 0.5s ease;
    /* Smooth transition on hover */
    padding: 5px;
}

.btn-custom:hover {
    background-color: black;
    /* Black background on hover */
    color: white;
    /* White text on hover */
    border-color: black;
    /* Ensure border stays black */
}

.card {
    border: 2px solid black;
}

.about-section {
    margin-top: 50px;
}

.list-group-item {
    margin: 10px;
}