* {
    font-family: "Ubuntu", sans-serif;
} 

.w {
    color: green;
}

.l {
    color: red;
}
.btn-custom {
    margin: 10px; 
}

.low-risk {
    color: green;
}

.medium-risk {
    color: rgb(236, 82, 10);
}

.high-risk {
    color: red;
}
/* Custom CSS to make the container fill the entire viewport height */
.full-height {
    height: 100vh;
}

body {
    margin-bottom: 5px;
}
/* Button styling */
.btn-custom {
    font-size: 1.2rem; /* To match the size with the lead text */
    border: 2px solid black; /* Black border */
    color: black; /* Black text */
    background-color: white; /* White background */
    transition: all 0.5s ease; /* Smooth transition on hover */
}

/* Hover effect */
.btn-custom:hover {
    background-color: black; /* Black background on hover */
    color: white; /* White text on hover */
    border-color: black; /* Ensure border stays black */
}

/* Checkbox styling */
.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-label {
    color: black;
}

/* Spacing for list items */
.list-group-item {
    margin-bottom: 15px; /* Adds space between the bordered boxes */
}