* {
    font-family: "Ubuntu", sans-serif;

}

/* Custom CSS to make the container fill the entire viewport height */
.full-height {
    height: 100vh;
    margin-top: 10vh;
}

/* Button styling */
.btn-custom {
    font-size: 1.2rem;
    /* To match the size with the lead text */
    border: 2px solid black;
    /* Black border */
    color: black;
    /* Black text */
    background-color: white;
    /* White background */
    transition: all 0.5s ease;
    /* Smooth transition on hover */
}

.button-container {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: center;
    /* Center align buttons */
    margin: 20px;
    /* Add some margin around the container */
}

.btn-custom {
    width: 100%;
    /* Full width for each button */
    max-width: 300px;
    /* Optional: limit the max width of buttons */
    padding: 15px;
    /* Add padding for a better touch area */
    font-size: 1.2em;
    /* Increase font size for readability */
    margin-bottom: 15px;
    /* Space between buttons */
}

@media (max-width: 600px) {
    .btn-custom {
        font-size: 1em;
        /* Adjust font size for smaller screens */
    }
}


/* Hover effect */
.btn-custom:hover {
    background-color: black;
    /* Black background on hover */
    color: white;
    /* White text on hover */
    border-color: black;
    /* Ensure border stays black */
}